<%= simple_form_for [@goal, @session] do |f| %>
  <div class="container mt-5">
    <h1 class="text-center mb-4 fw-bold display-4 text-primary"><%= t('goals.create_session') %></h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="session_start_time"><%= t('goals.start_time') %></label>
          <input type="datetime-local" class="form-control" name="session[start_time]" value="<%= @session.start_time.present? ? @session.start_time.strftime("%Y-%m-%dT%H:%M") : "" %>">
        </div>

        <div class="form-group">
          <label for="session_end_time"><%= t('goals.end_time') %></label>
          <input type="datetime-local" class="form-control" name="session[end_time]" value="<%= @session.end_time.present? ? @session.end_time.strftime("%Y-%m-%dT%H:%M") : "" %>">
        </div>

        <div class="form-group text-center">
          <%= f.submit t('goals.create_button'), class: "btn btn-outline-primary mt-2" %>
        </div>

        <!-- Lien retour centré sans prendre toute la largeur -->
        <div class="form-group text-center">
          <%= link_to t('goals.back_button'), goal_path(@goal), class: 'btn btn-outline-primary mt-5' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
