<%= link_to 'Retour', goal_path(@goal), class: 'btn btn-outline-primary mx-2 mt-2' %>
<div class='container'>
  <%= simple_form_for [@goal, @time_slot] do |f| %>
    <%= f.input :day_of_week,
                label: "Jour de la semaine",
                collection: TimeSlot.day_of_weeks.keys.map { |key| [key.capitalize, key] },
                include_blank: "Sélectionnez un jour" %>

    <%= f.input :start_time, as: :string,
              input_html: {
                type: 'time',
                pattern: '[0-9]{2}:[0-9]{2}',
                placeholder: 'HH:MM',
                step: '60',
                required: true
              } %>

    <%= f.input :end_time, as: :string,
              input_html: {
                type: 'time',
                pattern: '[0-9]{2}:[0-9]{2}',
                placeholder: 'HH:MM',
                step: '60',
                required: true
              } %>

    <%= f.submit 'ajouter un créneau' %>
  <% end %>
  <%= render 'time_slots/slots', time_slots: @time_slots, goal: @goal, all_time_slots: @all_time_slots %>
  <div class=' d-flex justify-content-center my-5'>
    <%= link_to "réassigner",  redefine_slots_goal_time_slots_path(@goal), class: 'btn btn-outline-primary' %>
  </div>
</div>
