<div class='container mt-5'>
  <h1 class="text-center display-4 fw-bold text-primary mb-5"><%= t('goals.time_slots.title', goal: @goal.description) %></h1>
  <%= simple_form_for [@goal, @time_slot] do |f| %>
    <%= f.input :day_of_week,
                label: t('goals.time_slots.day_of_week'),
                collection: TimeSlot.day_of_weeks.keys.map { |key| [t("enum.day_of_week.#{key}"), key] },
                include_blank: t('goals.time_slots.select_day') %>

    <%= f.input :start_time, as: :string,
              input_html: {
                type: 'time',
                pattern: '[0-9]{2}:[0-9]{2}',
                placeholder: t('goals.time_slots.time_placeholder'),
                step: '60',
                required: true
              } %>

    <%= f.input :end_time, as: :string,
              input_html: {
                type: 'time',
                pattern: '[0-9]{2}:[0-9]{2}',
                placeholder: t('goals.time_slots.time_placeholder'),
                step: '60',
                required: true
              } %>

    <%= f.submit t('goals.time_slots.add_slot'), class:'btn btn-outline-primary mt-3'%>
  <% end %>

  <%= render 'slots', time_slots: @time_slots, goal: @goal, all_time_slots: @all_time_slots %>

  <div class=' d-flex justify-content-center'>
    <%= link_to t('goals.time_slots.generate_calendar'), generate_calendar_goal_time_slots_path, class: "btn btn-outline-primary my-5" %>
  </div>

</div>
