<div class='container mt-5'>
  <h1 class="text-center display-4 fw-bold text-primary">Define your slot for: <%= @goal.description %></h1>
  <%= simple_form_for [@goal, @time_slot] do |f| %>
    <%= f.input :day_of_week,
                label: "Day of week",
                collection: TimeSlot.day_of_weeks.keys.map { |key| [key.capitalize, key] },
                include_blank: "Select a day" %>

    <%= f.input :start_time, as: :string,
              input_html: {
                type: 'time',
                pattern: '[0-9]{2}:[0-9]{2}',
                placeholder: 'HH:MM',
                step: '60',
                required: true
              } %>

    <%= f.input :end_time, as: :string,
              input_html: {
                type: 'time',
                pattern: '[0-9]{2}:[0-9]{2}',
                placeholder: 'HH:MM',
                step: '60',
                required: true
              } %>

    <%= f.submit 'Add a slot', class:'btn btn-outline-primary mt-3'%>
  <% end %>

  <% if @time_slots.any? %>
    <%= render 'slots', time_slots: @time_slots, goal: @goal %>
    <div class=' d-flex justify-content-center'>
      <%= link_to "Generate calendar", generate_calendar_goal_time_slots_path, class: "btn btn-outline-primary my-5" %>
    </div>
  <% end %>
</div>
