<div class='container mt-5'>
  <%= simple_form_for [@goal, @time_slot] do |f| %>
    <%= f.input :day_of_week,
              label: "Jour de la semaine",
              collection: TimeSlot.day_of_weeks.keys.map { |key| [key.capitalize, key] },
              include_blank: "Sélectionnez un jour" %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.submit 'ajouter un créneau' %>
  <% end %>

  <div class='mt-5'>
    <% TimeSlot.day_of_weeks.keys.each do |day| %>
      <h3><%= day.capitalize %></h3>
      <% if @time_slots_grouped_by_day[day] %>
        <% @time_slots_grouped_by_day[day].each do |time_slot| %>
          <p><%= "#{time_slot.start_time.strftime("%H:%M")} - #{time_slot.end_time.strftime("%H:%M")}" %></p>
        <% end %>
      <% else %>
        <p>Aucun créneau horaire pour ce jour.</p>
      <% end %>
    <% end %>
  </div>
</div>
