<div class='container mt-5'>
  <%= simple_form_for [@goal, @time_slot] do |f| %>
    <%= f.input :day_of_week,
              label: "Jour de la semaine",
              collection: TimeSlot.day_of_weeks.keys.map { |key| [key.capitalize, key] },
              include_blank: "Sélectionnez un jour" %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.submit 'ajouter un créneau' %>
  <% end %>

  <%= link_to "Générer le calendrier", generate_calendar_goal_time_slots_path, class: "btn btn-outline-dark mt-5" %>

  <div class='mt-4'>
    <% @time_slots.group_by(&:day_of_week).each do |day_of_week, slots| %>
    <h4><%= day_of_week %></h4>
    <ul>
      <% slots.each do |time_slot| %>
        <li><%= "#{time_slot.start_time.strftime("%H:%M")} - #{time_slot.end_time.strftime("%H:%M")}" %></li>
      <% end %>
    </ul>
  <% end %>
  </div>

</div>
