<div id="steps_list">
  <div class="container mt-2">
    <% goals.each do |goal| %>
      <h1><%= goal.description %></h1>
      <table class="table table-bordered table-striped"> <!-- Tableau Bootstrap -->
        <thead>
          <tr>
            <th>Description</th>
            <th>Durée estimée (minutes)</th>
            <th>Priorité</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% steps.each do |step| %>
            <tr>
              <td><%= step.description %></td>
              <td><%= step.estimated_minute %></td>
              <td><%= step.priority %></td>
              <td>
                <%= button_to "↑", move_up_step_path(step), method: :patch, class: "btn btn-sm btn-primary" %>
                <%= button_to "↓", move_down_step_path(step), method: :patch, class: "btn btn-sm btn-secondary"%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
