<div id="steps_new_list">
  <table class="table table-bordered "> <!-- Tableau Bootstrap -->
    <thead >
      <tr class="table-dark">
        <th>Description</th>
        <th>Estimated minutes</th>
        <th>Priority</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% steps.each do |step| %>
        <tr id="<%= dom_id(step) %>"  class="<%= 'table-primary' if step.status == 1 %>">
          <td><%= step.description %></td>
          <td><%= step.estimated_minute %></td>
          <td><%= step.priority %></td>
          <td>
            <%= button_to "↑", move_up_new_step_path(step), method: :patch, class: "btn btn-sm btn-primary" %>
            <%= button_to "↓", move_down_new_step_path(step), method: :patch, class: "btn btn-sm btn-secondary"%>
          </td>
          <td>
            <%= link_to edit_step_path(step) do %>
              <i class="bi bi-pencil"></i>
            <% end %>

            <%= button_to step_path(step), class: "border-0 p-0", method: :delete, data: { confirm: "Voulez-vous vraiment supprimer cette étape ?" } do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
