<tr id="<%= dom_id(step) %>" class="align-middle <%= 'table-success' if step.status == 1 %> td-dark">
  <td class="fw-semibold text-dark"><%= step.description %></td>
  <td class="text-muted"><%= step.estimated_minute %> min</td>
  <td>
    <span class="badge bg-info text-dark"><%= step.priority %></span>
  </td>
  <td>
    <div class="d-flex gap-1">
      <%= button_to "↑", move_up_new_step_path(step), method: :patch, class: "btn btn-sm btn-outline-primary" %>
      <%= button_to "↓", move_down_new_step_path(step), method: :patch, class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </td>
  <td>
    <%= button_to step_path(step), class: "btn btn-sm btn-outline-danger", method: :delete, data: { confirm: "Voulez-vous vraiment supprimer cette étape ?" } do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </td>
</tr>
