<div class='container mt-5'>

  <h1 class='text-center'><%= "définir les étapes pour: #{@goal.description}" %></h1>

  <%= simple_form_for [@goal, @step], data: { turbo: true } do |f| %>
    <%= f.input :description %>
    <%= f.input :estimated_minute %>
    <%= f.submit 'ajouter une étape', class: 'btn btn-outline-dark' %>
  <% end %>

  <%= render 'new_list', steps: @steps if @steps&.any? %>

  <%= link_to 'étape suivante', new_goal_time_slot_path(@goal), class: 'btn btn-outline-primary mb-5' %>

</div>
