<div data-controller="step">
  <div id="steps_new_list">
    <table class="table table-bordered table-striped">
      <thead>
        <tr class='table-dark'>
          <th>Complétée</th>
          <th>Description</th>
          <th>Durée estimée (minutes)</th>
          <th>Priorité</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% steps.each do |step| %>
          <tr id="<%= dom_id(step) %>" class="<%= 'table-success' if step.status == 1 %>">
            <td>
              <%= check_box_tag "step_status_#{step.id}", "1", step.status == 1,
                  class: "form-check-input form-check-lg",
                  data: { action: "click->step#toggle", step_id: step.id } %>
            </td>
            <td>
              <%= step.description %>
              <%= link_to step_path(step), class: "ms-2" do %>
                <i class="bi bi-pencil"></i> <!-- Icône pour l'édition -->
              <% end %>
            </td>
            <td><%= step.estimated_minute %></td>
            <td><%= step.priority %></td>
            <td>
              <%= button_to "↑", move_up_new_step_path(step), method: :patch, class: "btn btn-sm btn-primary" %>
              <%= button_to "↓", move_down_new_step_path(step), method: :patch, class: "btn btn-sm btn-secondary" %>
            </td>
            <td>
              <%= button_to step_path(step), class: "border-0 p-0", method: :delete, data: { turbo_confirm: "Voulez-vous vraiment supprimer cette étape ?" } do %>
                <i class="bi bi-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
