<div class='container my-4'>
  <div class='my-4'>
    <%= simple_form_for [@goal, @step] do |f| %>
      <%= f.input :description %>
      <%= f.input :estimated_minute %>
      <%= f.input :note, as: :text, label: "Bloc-notes (optionnel)" %>
      <%= f.submit 'ajouter une étape', class: 'btn btn-outline-primary' %>
    <% end %>
  </div>
  <%= render 'update_list', steps: @steps if @steps&.any? %>
   <div class="d-flex justify-content-center gap-2">
      <%= link_to 'Retour', goal_path(@goal), class: 'btn btn-outline-primary' %>
      <%= link_to 'réassigner', reassign_goal_path(@goal), class: 'btn btn-outline-primary' %>
    </div>
</div>
