<div class='container mt-5'>

  <!-- Card contenant les steps -->
  <div class="card">
    <div class="card-header text-center">
      <h1 class=' mb-4'><%= @current_day.strftime("%A %d %B") %>:</h1>
      <% @today_sessions.each do |session| %>
        <h2><%= session.start_time.strftime("%H:%M") %> - <%= - session.end_time.strftime("%H:%M") %></h2>
      <% end %>
    </div>
    <div class="card-body">
      <div data-controller="step" class='mt-4'>
        <div class="d-flex justify-content-center">
          <div>
          <% if @steps.any?%>
            <% @steps.each do |step| %>
              <div class="form-check mb-3">
                <%= check_box_tag "step_status_#{step.id}", "1", step.status == 1,
                    class: "form-check-input form-check-lg",
                    data: { action: "click->step#toggle", step_id: step.id } %>
                <%= label_tag "step_status_#{step.id}", "#{step.description} (#{step.estimated_minute} min)", class: "form-check-label ms-2" %>
              </div>
            <% end %>
            <% else %>
            <p>vous n'avez rien de prévu aujourd'hui</p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <% @goals.each do |goal| %>
      <div class="col-md-4">
        <%= link_to goal_path(goal), class: "text-decoration-none" do %>
          <div class="card shadow-sm border-0 mb-3 hover-shadow-lg">
            <div class="card-body">
              <h5 class="card-title text-center"><%= goal.description %></h5>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
