<div class='container mt-5'>
  <!-- Card contenant les steps -->
<div class="card shadow-sm rounded-4 border-0 my-4">
  <div class="card-header bg-light text-center rounded-top-4 py-4">
    <h1 class="mb-3 fw-bold text-primary"><%= l(@current_day, format: "%A %d %B") %></h1>

    <% @today_sessions.each do |session| %>
      <h5 class="text-muted">
        <%= session.start_time.strftime("%H:%M") %> - <%= session.end_time.strftime("%H:%M") %>
      </h5>
    <% end %>
  </div>

  <div class="card-body px-4 py-5">
    <div data-controller="step">
      <div class="d-flex justify-content-center">
        <div class="w-100" style="max-width: 600px;">
          <% if @steps.any? %>
            <% @steps.each do |step| %>
              <div class="form-check mb-4 p-3 rounded-3 bg-light d-flex align-items-center justify-content-between shadow-sm">
                <div class="d-flex align-items-center">
                  <%= check_box_tag "step_status_#{step.id}", "1", step.status == 1,
                      class: "form-check-input me-3 fs-5",
                      data: { action: "click->step#toggle", step_id: step.id } %>

                  <%= label_tag "step_status_#{step.id}", "#{step.description} (#{step.estimated_minute} min)", class: "form-check-label fs-6 mb-0" %>
                </div>

                <%= link_to step_path(step), class: "text-decoration-none text-muted ms-3" do %>
                  <i class="bi bi-pencil fs-5"></i>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <p class="text-center text-muted fs-5"><%= t("dashboard.nothing_planned") %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="row mt-5">
    <% @goals.each do |goal| %>
      <div class="col-md-4 mb-4 d-flex ">
        <%= link_to goal_path(goal), class: "text-decoration-none w-100" do %>
          <div class="card shadow-sm border-0 rounded-4 transition bg-white hover-shadow w-100 h-100 d-flex">
            <div class="card-body text-center d-flex flex-column justify-content-center align-items-center" style="min-height: 250px;">
              <h5 class="card-title fw-bold mb-4" style="color: #2c3e50;"><%= goal.description %></h5>

              <% progress = goal.steps.any? ? ((100.0 / goal.steps.length) * goal.steps.count { |step| step.status == 1 }).round(2) : 0 %>

              <p class="text-secondary mb-2"><%= progress %>% complété</p>
              <div class="progress" style="height: 6px; width: 80%;">
                <div class="progress-bar bg-primary" role="progressbar"
                    style="width: <%= progress %>%;" aria-valuenow="<%= progress %>"
                    aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
