  <%= link_to 'retour', goals_path, class:'btn btn-outline-dark mx-2 mt-2' %>

<div class='container'>
  <h1 class='text-center my-5'><%= @goal.description %></h1>
  <%= render 'list', steps: @steps, goal: @goal %>
  <div class=' d-flex justify-content-center'>
    <%= link_to 'modifier les étapes', edit_goal_path(@goal), class:'btn btn-outline-dark' %>
  </div>
  <h2 class='text-center my-5'>Créneaux pour cet objectif: </h2>
  <%= render 'goal_slots', time_slots: @time_slots %>
  <div class=' d-flex justify-content-center'>
    <%= link_to "modifier mes disponibilités", goal_time_slots_path(@goal), class:'btn btn-outline-dark my-3' %>
  </div>
</div>
