<div class='mx-2 mt-2'>
  <%= link_to 'retour', goals_path, class:'btn btn-outline-dark' %>
</div>
<div class='container'>
  <h1 class='text-center my-5'><%= @goal.description %></h1>
  <%= render 'list', steps: @steps, goal: @goal %>
  <div class=' d-flex justify-content-center'>
    <%= link_to 'modifier les étapes', edit_goal_path(@goal), class:'btn btn-outline-dark' %>
  </div>
  <h2 class='text-center my-5'>Créneaux pour cet objectif: </h2>
  <%= render 'time_slots/slots', time_slots: @time_slots %>
</div>
