<!DOCTYPE html>
<html>
  <head>
    <title>GoalManagement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  </head>

  <body style="background-color: #f8f9fa;" >

   <!-- HEADER -->
    <% if user_signed_in? %>
      <nav class="bg-white shadow-md">
        <div class="container mx-auto px-6 py-4 flex justify-between items-center">

          <div class='d-flex'>
              <%= link_to "Dashboard", root_path, class: "text-gray-600 hover:text-gray-900 px-4 nav-link" %>
              <%= link_to "Calendar", calendars_path, class: "text-gray-600 hover:text-gray-900 px-4 nav-link" %>
              <%= link_to "Plan", new_goal_path, class: "text-gray-600 hover:text-gray-900 px-4 nav-link" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
        </div>
      </nav>
    <% end %>

      <%= yield %>

  </body>
</html>
